<div class="background-image">
<div class="container-fluid">



    <!-- barra de navegação -->

    <nav class="navbar sticky-top navbar-dark bg-dark">
        <div class="container-fluid">

            <a class="navbar-brand" href="mobile#">
                <img src="../assets/logo-branco.svg" alt="Logo" width="140">
            </a>

            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>

            <div class="collapse" id="menu">
                <div class="bg-dark p-4">

                    <a class="dropdown-item" style="color: #ffffff ;" href="mobile#sobreNos">Sobre Nós</a>

                    <a class="dropdown-item" style="color: #ffffff ;" href="mobile#solucoes">Soluçoes</a>

                    <a class="dropdown-item" style="color: #ffffff ;" href="mobile#parceiros">Parceiros</a>

                    <a class="dropdown-item" style="color: #ffffff ;" href="mobile#duvidas">Duvidas</a>

                    <!-- <a class="dropdown-item" style="color: #ffffff ;" href="mobile#planos">Planos</a> -->

                    <a class="dropdown-item" style="color: #ffffff ;" href="mobile#contato">Contato</a>

                </div>
            </div>





        </div>
    </nav>
    <!-- logo -->
    <div class="background">
        <div class="row justify-content-center text-center">


            <div class="col-6" id="logo">
                <img src="../assets/logo-q-preto.svg" width="320px">
            </div>

            <div class="col-6">
                <div class="box-buttons">
                    <div class="row justify-content-center">
                        <a href="mobile#sobreNos" id="btn1" class="btn-efeito"><span>Sobre nós</span></a>
                    </div>
                    <div class="row justify-content-center">
                        <a href="mobile#solucoes" id="btn1" class="btn-efeito"><span> Soluções </span></a>
                    </div>
                    <div class="row justify-content-center">
                        <a href="mobile#parceiros" id="btn1" class="btn-efeito"><span> Parceiros </span></a>
                    </div>
                    <div class="row justify-content-center">
                        <a href="mobile#duvidas" id="btn1" class="btn-efeito"><span> Duvidas </span></a>
                    </div>
                    <div class="row justify-content-center">
                        <!-- <a href="mobile#planos" id="btn1" class="btn-efeito"><span> Planos </span></a> -->
                    </div>
                    <div class="row justify-content-center">
                        <a href="mobile#contato" id="btn1" class="btn-efeito"><span> Contato </span></a>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <!-- scroll -->
    <div data-bs-spy="scroll" data-bs-target="#posicao">


        <!-- Quem somos -->
        <div class="background" id="sobreNos">
            <div id="titulo" class="row">
                <span>Quem somos:</span>
            </div>
            <div class="row justify-content-center ">
                <div class="col-12 text-justify">
                    <p class="apresentacao">
                        Somos uma empresa de Assessoria de Engenharia para Condomínios. Ajudamos síndicos e
                        administradoras de
                        condomínios com soluções técnicas eficazes, reduzindo os custos das manutenções e operação.
                        <br><br>
                        Nossos principais serviços incluem perícias e elaboração laudos técnicos precisos e confiáveis,
                        inspeção
                        predial, diagnostico de manifestações patológicas, levantamento de quantitativos, balizamento de
                        orçamentos, assessoria para escolha da mão de obra e elaboração do plano de manutenção, operação
                        e
                        controle para os condomínios (PMOC).
                        <br><br>
                        Com anos de experiência em engenharia, trazemos soluções personalizadas e abrangentes para uma
                        ampla
                        variedade de necessidades.
                        <br><br>
                        Na nossa empresa, temos o compromisso de oferecer serviços de alta qualidade, garantindo a
                        satisfação do
                        cliente. Entre em contato conosco hoje mesmo para saber como podemos ajudá-lo.
                    </p>
                </div>
            </div>
        </div>

        <!-- o que fazemos -->

        <div class="background" id="solucoes">
            <div id="titulo" class="row">
                <span>Soluções:</span>
            </div>
            <div uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 300"
                class="row justify-content-center text-center">


                <div class="col-6">
                    <div class="box-buttons2">
                        <a id="btn2" class="btn-efeito" data-bs-toggle="modal" data-bs-target="#mapeamentoFachada">
                            <span>Mapeamento e <br> Consultoria de <br> fachadas</span>
                        </a>
                    </div>
                </div>

                <div class="col-6">
                    <div class="box-buttons2">
                        <a id="btn2" class="btn-efeito" data-bs-toggle="modal" data-bs-target="#inspecao">
                            <span>Inspeção <br> Predial</span></a>
                    </div>
                </div>

                <div class="col-6">
                    <div class="box-buttons2">
                        <a id="btn2" class="btn-efeito" data-bs-toggle="modal" data-bs-target="#patologica">
                            <span>Diagnóstico de manifestação patológica</span></a>
                    </div>
                </div>

                <div class="col-6">
                    <div class="box-buttons2">
                        <a id="btn2" class="btn-efeito" data-bs-toggle="modal" data-bs-target="#auditoriaEdficacao">
                            <span>Auditoria em edificação em <br> garantia</span></a>
                    </div>
                </div>



                <div class="col-6">
                    <div class="box-buttons2">
                        <a id="btn2" class="btn-efeito" data-bs-toggle="modal" data-bs-target="#auditoriaObra">
                            <span>Auditoria de <br> recebimento de <br> obra</span></a>
                    </div>
                </div>

                <div class="col-6">
                    <div class="box-buttons2">
                        <a id="btn2" class="btn-efeito" data-bs-toggle="modal" data-bs-target="#fiscalizacaoObra">
                            <span> Fiscalização <br> de <br> obras </span></a>
                    </div>
                </div>

                <div class="col-6">
                    <div class="box-buttons2">
                        <a id="btn2" class="btn-efeito" data-bs-toggle="modal" data-bs-target="#processo">
                            <span> Assistência técnica <br> em processos </span></a>
                    </div>
                </div>


                <!-- Modal mapeamento fachadas -->
                <div class="modal fade" id="mapeamentoFachada">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="titulo-modal">
                                <span>Mapeamento e Consultoria de fachadas</span>
                            </div>
                            <div class="body-modal">
                                <hr>
                                <p>
                                    Identificação e mapeamento das patologias das fachadas, oferecendo soluções técnicas
                                    de correção
                                    definitivas e financeiramente viáveis para os usuários, evitando soluções
                                    paliativas, e
                                    custo recorrente.
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal inspeção predial -->
                <div class="modal fade" id="inspecao">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="titulo-modal">
                                <span>Inspeção Predial</span>
                            </div>
                            <div class="body-modal">
                                <hr>
                                <p> Realizamos um serviços de check-up global na edificação, identificando problemas
                                    antes que se
                                    tornem mais graves, evitando danos e custos futuros. Utilizamos equipamentos que
                                    auxiliam na
                                    avaliação e detecção dos vícios e anomalias em tempo hábil. Elaboramos uma planilha
                                    de prioridades
                                    para manutenções necessárias, garantindo segurança e preservação da edificação.
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal diagnostico patologica -->
                <div class="modal fade" id="patologica">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="titulo-modal">
                                <span>Diagnóstico de manifestação patológica</span>
                            </div>
                            <div class="body-modal">
                                <hr>
                                <p> Identificação e diagnóstico de anomalias em sua origem, com o objetivo de realizar o
                                    correto
                                    tratamento, reduzindo os custos em reparos reincidente ou de definir a
                                    responsabilidade pelo
                                    reparo necessário.
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal auditoria edificação -->
                <div class="modal fade" id="auditoriaEdficacao">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="titulo-modal">
                                <span>Auditoria em edificação em garantia</span>
                            </div>
                            <div class="body-modal">
                                <hr>
                                <p> Vistoria em fase de uso que tem como objetivo constatar, registrar e notificar a
                                    construtora sobre
                                    problemas e vícios ocultos, antes do término da garantia, permitindo a sua
                                    responsabilização pelas
                                    falhas endógenas e, consequentemente, reduzindo os custos com manutenção corretiva
                                    que seriam
                                    suportados pelos condôminos.
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal auditoria obra -->
                <div class="modal fade" id="auditoriaObra">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="titulo-modal">
                                <span>Auditoria de recebimento de obra</span>
                            </div>
                            <div class="body-modal">
                                <hr>
                                <p> Vistoria realizada no recebimento do imóvel antes do uso. Tem como benefício
                                    garantir a satisfação
                                    e tranquilidade dos proprietários, garantindo que todos os aspectos da edificação
                                    estejam em
                                    conformidade com as especificações técnicas e contratuais.
                                    <br><br>
                                    Além disso, evita problemas futuros e
                                    possibilitando a correção dos vícios construtivos antes do início da fase de uso.
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal fiscalização obra -->
                <div class="modal fade" id="fiscalizacaoObra">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="titulo-modal">
                                <span>Fiscalização de obras</span>
                            </div>
                            <div class="body-modal">
                                <hr>
                                <p> Oferecer aos contratantes a garantia de que o contrato está sendo executado conforme
                                    o previsto,
                                    em termos de qualidade executiva e de materiais, bem como quantidade contratada.
                                    <br>br

                                    Além disso, nossa
                                    vistoria minuciosa pode identificar possíveis problemas e desvios no projeto
                                    original, permitindo
                                    que sejam corrigidos antes do término da obra, evitando prejuízos futuros e
                                    garantindo a satisfação
                                    total dos contratantes.
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal processo -->
                <div class="modal fade" id="processo">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="titulo-modal">
                                <span>Assistência técnica em processos</span>
                            </div>
                            <div class="body-modal">
                                <hr>
                                <p> Oferecemos serviços de elaboração de quesitos e acompanhamento da diligência do
                                    perito, visando a
                                    defesa técnica dos interesses do contratante. <br><br> Acompanhamos de perto todas
                                    as etapas da
                                    diligência
                                    pericial, garantindo que todas as informações sejam coletadas e avaliadas
                                    corretamente e que as
                                    conclusões sejam coerentes e embasadas tecnicamente.
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- Parceiros -->
        <div class="background" id="parceiros">
            <div id="titulo" class="row">
                <span>Parceiros:</span>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-12">

                    <div class="uk-slider-container-offset" uk-slider="autoplay: true">

                        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-2">

                            <ul class="uk-slider-items uk-child-width-0-1@s uk-grid">
                                <li>
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-media-top">
                                            <img src="../assets/parceiros/almedaJorge.jpg" width="1800" height="1200"
                                                alt="">
                                        </div>
                                        <div class="uk-card-body">
                                            <p>Condomínio Alameda Jorge Cascaes <br> Centro – PH</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-media-top">
                                            <img src="../assets/parceiros/bosqueMansoes.jpg" width="1800" height="1200"
                                                alt="">
                                        </div>
                                        <div class="uk-card-body">
                                            <p>Condomínio Bosque das Mansões <br>Roçado – SJ</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-media-top">
                                            <br>
                                            <br>
                                            <img src="../assets/parceiros/boulevardIvo.jpg" width="1800" height="1200"
                                                alt="">
                                            <br>
                                            <br>
                                            <br>
                                        </div>
                                        <div class="uk-card-body">

                                            <p>Condomínio Boulevard Ivo Luchi <br> Pedra Branca - Palhoça</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-media-top">
                                            <img src="../assets/parceiros/granClassic.jpg" width="1800" height="1200"
                                                alt="">
                                        </div>
                                        <div class="uk-card-body">
                                            <p>Condomínio Grand Classic Residence <br> Itacorubi – FLN</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-media-top">
                                            <br>
                                            <img src="../assets/parceiros/plazaMediterraneo.jpg" width="1800"
                                                height="1200" alt="">
                                        </div>
                                        <div class="uk-card-body">
                                            <p> Condomínio Plaza Mediterrâneo <br> Itacorubi – FLN</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-media-top">
                                            <img src="../assets/parceiros/recantoIngleses.jpg" width="1800"
                                                height="1200" alt="">
                                        </div>
                                        <div class="uk-card-body">
                                            <p>Condomínio Recanto dos Ingleses <br> Ingleses – FLN</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-media-top">
                                            <br>
                                            <img src="../assets/parceiros/recantoSossego.jpg" width="1800" height="1200"
                                                alt="">
                                        </div>
                                        <div class="uk-card-body">
                                            <p>Condomínio Recanto do Sossego II <br> Pagani – Palhoça </p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-media-top">
                                            <img src="../assets/parceiros/sanDiego.jpg" width="1800" height="1200"
                                                alt="">
                                        </div>
                                        <div class="uk-card-body">
                                            <p> Condomínio San Diego <br> Jurerê – FLN </p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-media-top">
                                            <img src="../assets/parceiros/sedeOab.jpg" width="1800" height="1200"
                                                alt="">
                                        </div>
                                        <div class="uk-card-body">
                                            <p>OAB – Sede e Subseções <br> SC</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-media-top">
                                            <img src="../assets/parceiros/vitoriaOffice.jpg" width="1800" height="1200"
                                                alt="">
                                        </div>
                                        <div class="uk-card-body">
                                            <p> Condomínio Comercial Vitória Office <br> Estreito – FLN</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
                                uk-slidenav-previous uk-slider-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
                                uk-slidenav-next uk-slider-item="next"></a>

                        </div>

                        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

                    </div>



                </div>
            </div>

            <div id="titulo" class="row mt-3">
                <span>Depoimentos:</span>
            </div>

            <div class="row justify-content-center text-center">

                <div class="col-11 depoimento">
                    <div class="row">
                        <div class="col-6">
                            <img src="../assets/depoimentos/Richardson.png" width="60" height="60">
                        </div>
                        <div class="col-6">
                            <h4>Richardson Passos</h4>
                        </div>
                    </div>

                    <div class="row" id="coment">
                        <hr>
                        <p>Estou síndico há quase 6 anos e sempre senti falta de uma empresa igual a
                            Rhonan eng, só na comparação dos orçamentos das empresas que vão executar a
                            obra ela se paga com "multa, juros e correção monetária " rsrsrs.
                            <br>
                            Sem contar com o acompanhamento da obra que aí subimos para outro nível que
                            não tem preço que pague!
                            <br>
                            SUPER INDICO!!!
                        </p>
                    </div>
                </div>

                <div class="col-11 depoimento">
                    <div class="row">
                        <div class="col-6">
                            <img src="../assets/depoimentos/ana.png" width="60" height="60">
                        </div>
                        <div class="col-6">
                            <h4>Condomínio Ivo Luchi</h4>
                        </div>
                    </div>

                    <div class="row" id="coment">
                        <hr>
                        <p>Tínhamos um problema em nosso apartamento, em conjunto com o síndico chamamos
                            o Eng. Rhonan e
                            ele propôs uma solução excelente e econômica comparado à outros engenheiros!
                            Sem dúvidas eu
                            recomendo!</p>
                    </div>
                </div>


                <div class="col-11 depoimento">
                    <div class="row">
                        <div class="col-6">
                            <img src="../assets/depoimentos/rodrigo.png" width="60" height="60">
                        </div>
                        <div class="col-6">
                            <h4>RODRIGO GONÇALVES</h4>
                        </div>
                    </div>

                    <div class="row" id="coment">
                        <hr>
                        <p>O Rhonan é um profissional com bastante conhecimento técnico e prático, tem
                            muita desenvoltura
                            na gestão de uma obra, tem empatia com o cliente e sempre prestativo, estou
                            muito satisfeito em
                            ter contratado seus serviços.</p>
                    </div>
                </div>

                <div class="col-11 depoimento">
                    <div class="row">
                        <div class="col-6">
                            <img src="../assets/depoimentos/condominio.png" width="60" height="60">
                        </div>
                        <div class="col-6">
                            <h4>Condomínio Ivo Luchi</h4>
                        </div>
                    </div>

                    <div class="row" id="coment">
                        <hr>
                        <p>Um excelente empresa, qualidade no atendimento e esmero nos serviços,
                            indicamos a qualquer
                            empresa que queira contratar os serviços.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Duvidas-->
        <div class="background" id="duvidas">
            <div id="titulo" class="row">
                <span>Duvidas:</span>
            </div>

            <div class="row d-flex justify-content-center">

                <!-- Duvidas -->
                <div class="col-11 uk-child-width-1-2@m uk-grid-match" uk-grid>
                    <!-- Duvida 1-->
                    <div class="row " uk-scrollspy="cls: uk-animation-slide-left; repeat: false">

                        <div class="row">
                            <div class="box-buttons2">
                                <a id="btn3" class="btn-efeito" data-bs-toggle="collapse" data-bs-target="#duvida1"
                                    aria-expanded="false">
                                    <span>Como a Inspeção Predial pode ser útil em condomínios com
                                        garantia?</span></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="collapse" id="duvida1">
                                <div class="body-colapse">
                                    A Inspeção Predial realizada pela RHONAN LIMA engenharia é capaz de classificar
                                    as
                                    manifestações
                                    patológicas em três tipos:
                                    endógenas (construtivas), exógenas e funcionais.
                                    <br>
                                    <br>
                                    Essa classificação é feita com base na análise de Normas Técnicas relevantes,
                                    como
                                    as NBRs 5.674 e
                                    15.575, e do Manual de Uso,
                                    Manutenção e Operação.
                                    <br>
                                    <br>
                                    Por meio desse processo de compatibilização, é possível avaliar de forma precisa
                                    as
                                    condições do
                                    imóvel e identificar eventuais problemas estruturais ou
                                    funcionais que possam comprometer a segurança e o conforto dos usuários do
                                    condomínio.
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Duvida 3-->
                    <div class="row" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
                        <div class="row">
                            <div class="box-buttons2">
                                <a id="btn3" class="btn-efeito" data-bs-toggle="collapse" data-bs-target="#duvida3"
                                    aria-expanded="false">
                                    <span> É possível contratar apenas a fiscalização de obra sem um
                                        laudo de inspeção?</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="collapse" id="duvida3">
                                <div class="body-colapse">
                                    Não é recomendado contratar apenas o serviço de Acompanhamento de Obra sem a
                                    realização da
                                    Inspeção Predial.
                                    <br><br>
                                    Em nossas experiências anteriores, já tivemos casos em que fomos contratados
                                    somente
                                    para o
                                    acompanhamento da obra, sem a realização da inspeção prévia.
                                    <br><br>
                                    Nesses casos, percebemos diversas deficiências, tais como ausência de análise
                                    prévia
                                    em pontos
                                    estruturais (como pilares com manifestações patológicas),
                                    quantitativos incorretos e soluções incoerentes. Acreditamos que a Inspeção
                                    Predial
                                    é essencial
                                    para um planejamento adequado e eficiente da reforma,
                                    pois permite identificar previamente possíveis problemas estruturais, elétricos,
                                    hidráulicos e de
                                    segurança, garantindo a correta execução da obra.
                                    <br><br>
                                    Portanto, recomendamos sempre a realização da inspeção predial antes de qualquer
                                    intervenção no
                                    imóvel.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Duvida 5-->
                    <div class="row" uk-scrollspy="cls: uk-animation-slide-left; repeat: false">
                        <div class="row">
                            <div class="box-buttons2">
                                <a id="btn3" class="btn-efeito" data-bs-toggle="collapse" data-bs-target="#duvida5"
                                    aria-expanded="false">
                                    <span>Qual é a extensão da responsabilidade do Síndico no que diz respeito às
                                        obras,
                                        manutenções e
                                        reformas
                                        executadas no condomínio?</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="collapse" id="duvida5">
                                <div class="body-colapse">
                                    O Código Civil, em seu Artigo 1.348, estabelece que uma das responsabilidades do
                                    Síndico é
                                    diligenciar a conservação e a guarda das
                                    partes comuns e zelar pela prestação dos serviços que interessem aos
                                    possuidores.
                                    <br><br>
                                    Isso significa que, além de ter o direito, o Síndico tem o dever
                                    de realizar manutenções preventivas e corretivas no condomínio.
                                    <br><br>
                                    A negligência, imprudência ou imperícia do Síndico em relação a essas questões
                                    pode
                                    resultar em responsabilidade civil e criminal.
                                    <br><br>
                                    Portanto, é importante que o Síndico esteja ciente de suas obrigações e trabalhe
                                    para garantir a
                                    segurança e o bem-estar dos moradores.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Duvida 7-->
                    <div class="row" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
                        <div class="row">
                            <div class="box-buttons2">
                                <a id="btn3" class="btn-efeito" data-bs-toggle="collapse" data-bs-target="#duvida7"
                                    aria-expanded="false">
                                    <span>Apartamentos, salas comerciais ou lojas são vistoriados na Inspeção
                                        Predial?</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="collapse" id="duvida7">
                                <div class="body-colapse">
                                    Geralmente, não é comum que unidades autônomas, tais como apartamentos, salas
                                    comerciais ou lojas,
                                    sejam inspecionadas durante a
                                    Inspeção Predial.
                                    <br><br>
                                    Isso porque a manutenção dessas unidades é de responsabilidade do proprietário
                                    ou do
                                    inquilino, e
                                    não do Síndico.
                                    <br><br>
                                    Em casos de garantias, por exemplo, a solicitação deve ser feita diretamente à
                                    Construtora ou
                                    Incorporadora.
                                    <br><br>
                                    No entanto, se houver danos nas unidades que estejam relacionados às áreas
                                    comuns
                                    (como
                                    infiltrações provenientes de paredes externas ou telhados), pode ser necessário
                                    analisar a
                                    extensão dos danos.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Duvida 9-->
                    <div class="row" uk-scrollspy="cls: uk-animation-slide-left; repeat: false">
                        <div class="row">
                            <div class="box-buttons2">
                                <a id="btn3" class="btn-efeito" data-bs-toggle="collapse" data-bs-target="#duvida9"
                                    aria-expanded="false">
                                    <span>Com qual frequencia devo fazer a inspeção predial?</span></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="collapse" id="duvida9">
                                <div class="body-colapse">
                                    O tema da Inspeção Predial é regulamentado por legislações municipais em
                                    diversas
                                    cidades do
                                    Brasil.
                                    <br><br>
                                    Geralmente, para edifícios
                                    de até 20 anos de idade, a Inspeção é exigida a cada cinco anos.
                                    <br><br>
                                    Já para edifícios entre 20 e 30
                                    anos, a periodicidade é de três anos, enquanto
                                    para aqueles com mais de 30 anos de idade, a inspeção é necessária a cada dois
                                    anos
                                    ou até mesmo
                                    anualmente, dependendo do estado de conservação
                                    do imóvel.
                                    <br><br>
                                    É importante ressaltar que a realização da Inspeção Predial deve ser feita por
                                    profissionais
                                    habilitados e qualificados, como Engenheiros
                                    Civis e Arquitetos registrados nos Conselhos Profissionais, sendo a RHONAN LIMA
                                    engenharia uma
                                    empresa especializada nessa função.
                                    <br><br>
                                    Além disso, é
                                    necessário exigir a Anotação de Responsabilidade Técnica (ART) para garantir a
                                    segurança e a
                                    qualidade do serviço prestado.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Duvida 2-->
                    <div class="row" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
                        <div class="row">
                            <div class="box-buttons2">
                                <a id="btn3" class="btn-efeito" data-bs-toggle="collapse" data-bs-target="#duvida2"
                                    aria-expanded="false">
                                    <span>Como será avaliado a gravidade de fissuras, trincas e infiltrações no meu
                                        condomínio?</span></a>
                            </div>
                            <div class="row">
                                <div class="collapse" id="duvida2">
                                    <div class="body-colapse">
                                        A metodologia utilizada pelo Laudo de Inspeção Predial da RHONAN LIMA
                                        engenharia
                                        se baseia na
                                        aplicação da Matriz GUT,
                                        que permite classificar os Graus de Risco de acordo com a combinação das
                                        avaliações numéricas de
                                        Gravidade, Urgência e Tendência,
                                        cada uma variando de 01 a 10.
                                        <br>
                                        <br>
                                        Essa abordagem permite identificar de forma precisa e objetiva as
                                        prioridades de intervenção em um imóvel,
                                        considerando os fatores que têm maior impacto na segurança e na qualidade de
                                        vida dos seus
                                        usuários.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Duvida 4-->
                    <div class="row" uk-scrollspy="cls: uk-animation-slide-left; repeat: false">
                        <div class="row">
                            <div class="box-buttons2">
                                <a id="btn3" class="btn-efeito" data-bs-toggle="collapse" data-bs-target="#duvida4"
                                    aria-expanded="false">
                                    <span>Por que as empreiteiras muitas vezes oferecem soluções diferentes para um
                                        mesmo problema em
                                        uma
                                        construção ou reforma?</span></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="collapse" id="duvida4">
                                <div class="body-colapse">
                                    As empreiteiras muitas vezes oferecem soluções diferentes para um mesmo problema
                                    em
                                    uma construção
                                    ou reforma devido ao fato de que,
                                    em geral, realizam apenas uma visita para orçamentação, o que limita a
                                    compreensão
                                    completa da
                                    situação.
                                    <br><br>
                                    Porém, a Inspeção Predial é um serviço
                                    minucioso que demanda tempo, capacidade e conhecimento técnico especializado.
                                    <br><br>
                                    A partir da
                                    elaboração do Laudo, Memorial Descritivo, Quantitativo
                                    e da realização do Plano de Obra, é possível obter a padronização necessária
                                    para a
                                    execução dos
                                    serviços. Com essas informações detalhadas e
                                    específicas, os profissionais envolvidos no projeto, como as empreiteiras,
                                    conseguem
                                    compreender
                                    de forma mais precisa o problema e oferecer soluções
                                    mais coerentes e eficientes para a solução dos problemas.
                                    <br><br>
                                    Portanto, a Inspeção Predial é um
                                    serviço importante e necessário para garantir a
                                    segurança e a qualidade das obras e reformas.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Duvida 6-->
                    <div class="row" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
                        <div class="row">
                            <div class="box-buttons2">
                                <a id="btn3" class="btn-efeito" data-bs-toggle="collapse" data-bs-target="#duvida6"
                                    aria-expanded="false">
                                    <span>Como agir caso a Assembleia não aprove a realização de uma reforma no
                                        condomínio?</span></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="collapse" id="duvida6">
                                <div class="body-colapse">
                                    As obras em condomínios são classificadas em três tipos: necessárias, úteis e
                                    voluptuárias, sendo
                                    que as necessárias não precisam de
                                    aprovação em Assembleia.
                                    <br><br>
                                    Já as obras úteis e voluptuárias têm especificidades em relação ao quórum,
                                    podendo
                                    exigir
                                    aprovação por maioria simples em
                                    Assembleia a 100% das unidades.
                                    <br><br>
                                    A realização de uma Inspeção Predial pode auxiliar na embasamento técnico dessa
                                    classificação, a
                                    fim de evitar
                                    conflitos e garantir que as obras realizadas atendam as necessidades do
                                    condomínio.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Duvida 8-->
                    <div class="row" uk-scrollspy="cls: uk-animation-slide-left; repeat: false">
                        <div class="row">
                            <div class="box-buttons2">
                                <a id="btn3" class="btn-efeito" data-bs-toggle="collapse" data-bs-target="#duvida8"
                                    aria-expanded="false">
                                    <span>Qual é a qualificação necessária para realizar uma Inspeção
                                        Predial?</span></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="collapse" id="duvida8">
                                <div class="body-colapse">
                                    A Inspeção Predial é uma atividade que, de acordo com a NBR 16.747 de 2020, deve
                                    ser
                                    realizada
                                    apenas por Engenheiros Civis e
                                    Arquitetos habilitados, devidamente qualificados e registrados nos Conselhos
                                    Profissionais, e com
                                    a emissão de ART (Anotação de Responsabilidade Técnica).
                                    <br><br>
                                    É importante ressaltar que a RHONAN LIMA engenharia é uma empresa especializada
                                    na
                                    realização de
                                    Inspeção Predial e conta com uma equipe de profissionais
                                    capacitados e experientes para realizar esse serviço de forma segura e
                                    eficiente.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- contato-->
                    <div class="row" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">

                        <div class="row">
                            <div class="box-buttons2">
                                <a id="btn3" class="btn-efeito" href="#contato">
                                    <span>Ficou com alguma Duvida? <br> Entre em contarto conosco</span></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- planos -->


        <!-- contato -->
        <div class="contato" id="contato">

            <div class="col-11">
                <div class="row d-flex justify-content-center">

                    <div id="titulo2" class="row">
                        <span>Contato:</span>
                    </div>

                    <div class="row d-flex justify-content-center">

                        <div class="col-4 text-center">
                            <div class="botao-rs whatsapp">

                                <a href="https://wa.me/554831972707?text=" target="_blank" title="whatsApp">
                                    <i class="fa fa-whatsapp"></i>
                                    <span>whatsApp</span>
                                </a>

                            </div>
                        </div>

                        <div class="col-4 text-center">
                            <div class="botao-rs instagram">

                                <a href="https://www.instagram.com/rlima.engenharia" target="_blank" title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>

                            </div>
                        </div>

                        <div class="col-4 text-center">
                            <div class="botao-rs email">

                                <a href=mailto:contato@rlima.eng.br target="_blank" title="email">
                                    <i class="fa fa-envelope"></i>
                                    <span>Email</span>
                                </a>

                            </div>
                        </div>
                    </div>

                    <br><br>

                    <div class="row mt-4">
                        <div class="col  ml-5">
                            Telefone: (48) 3197-2707
                            <br>
                            Email: contato@rlima.eng.br
                        </div>
                    </div>







                    <div class="col-11 mt-4">

                        <h5>Entramos em contato com você:</h5>

                        <Form action="https://api.staticforms.xyz/submit" method="post">

                            <input type="hidden" name="accessKey" value="1bb720fb-2e9e-4ab9-bdf9-4e5eaf57348e">

                            <div class="row mt-3">
                                <div class="col-12">

                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
                                        <input type="text" class="form-control" formControlName="name"
                                            aria-label="Sizing example input"
                                            aria-describedby="inputGroup-sizing-default" id="name" name="name"
                                            placeholder="Seu nome" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-0">
                                <div class="col-11">

                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                                        <input type="email" class="form-control" aria-label="Sizing example input"
                                            aria-describedby="inputGroup-sizing-default" formControlName="email"
                                            id="email" name="email" placeholder="Email para contato" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-0">
                                <div class="col-11">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Telefone</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input"
                                            aria-describedby="inputGroup-sizing-default" id="email" name="phone"
                                            placeholder="(ddd) 9 9999-9999">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea name="message" class="form-control" formControlName="message"
                                            id="message" style="height: 100px" required></textarea>
                                        <label for="message">Menssagem</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row float-end mt-1">
                                <div class="col">
                                    <button class="btn btn-primary"
                                        onClick="UIkit.notification({message:'Contato enviado, entraremos em contato o mais breve possível'})"
                                        type="submit">Enviar</button>
                                </div>
                            </div>

                            <input type="text" name="honeypot" style="display: none;">
                            <input type="hidden" name="redirectTo" value="http://rlima.eng.br/">


                        </Form>

                        <script>
                            const sendButton = document.querySelector('#sendButton');

                            sendButton.addEventListener('click', () => {
                                const nameInput = document.querySelector('#name');
                                const emailInput = document.querySelector('#email');
                                const messageInput = document.querySelector('#message');

                                if (nameInput.value && emailInput.value && messageInput.value) {
                                    sendButton.type = 'submit';
                                } else {
                                    alert('Por favor, preencha todos os campos.');
                                }
                            });
                        </script>



                    </div>




                </div>
            </div>

        </div>
    </div>

</div>





<!-- <ul class="social-icons">
                    <li><a href="link" target="_blank"><i class="fa fa-facebook"></i></a></li>  
                    <li><a href="link" target="_blank"><i class="fa fa-twitter"></i></a></li>  
                    <li><a href="link" target="_blank"><i class="fa fa-instagram"></i></a></li>  
                    <li><a href="link" target="_blank"><i class="fa fa-youtube"></i></a></li>  
                    <li><a href="link" target="_blank"><i class="fa fa-whatsapp"></i></a></li>  
                    <li><a href="link" target="_blank"><i class="fa fa-envelope"></i></a></li>  
                    <li><a href="link" target="_blank"><i class="fa fa-cloud"></i></a></li>  
                  </ul> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/554831972707?text=" style="position:fixed;width:30px;height:30px;bottom:30px;right:20px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:20px;box-shadow: 1px 1px 2px #888;
                    z-index:1000;" target="_blank">
    <i style="margin-top:5px" class="fa fa-whatsapp"></i>
</a>